@import "variables";
button {
    padding: 0.5rem 1rem;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    &:disabled {
        background: #706f6f;
        cursor: not-allowed;
    }
}